.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.twitter {
  background-image: url(/quote.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 140px;
  margin: 0 auto;
  width: 670px;
  position: relative;
  width: 95%;
  height: auto;
  background-size: 100% 100%;
  font-size: 14px;
}

.twitterImage {
  position: absolute;
  left: 0;
  top: 14%;
}

.twitterImage > * {
  width: 98px;
}

.twitterText {
  padding-top: 28px;
  padding-left: 120px;
  padding-right: 20px;
}

@media only screen and (min-width: 639px) {
  .twitter {
    height: 140px;
    margin: 0 auto 65px;
    width: 670px;
    font-size: 16px;
  }
}