@media only screen and (min-width: 639px) {
  .homeCopy h2 {
    margin-left: -27px;
  }
}

@media only screen and (min-width: 1280px) {
  .homeCopyWrapper {
    background: no-repeat 43px 43px url(/sparkles.png) #000;
    background-size: 179px 214px;
  }
}

.homeCopy h3 {
  margin-bottom: 30px;
}

.homeCopy strong {
  font-family: "AllianceNo1-Bold";
}

.homeCopy strong a {
  font-family: "SpaceMono-Regular";
  text-transform: uppercase;
}

.homeCopyButton {
  background-color: #20A6FF;
}

.homeImage {
  min-width: 100vw;
  right: 0;
  top: -4vw;
}