.workDark:before {
  content: '';
  display: block;
  width: 100%;
  height: 4vw;
  background-image: url(/top-black-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: -3vw;
}