.hero {
  position: relative;
  text-align: center;
}

.heroHeadline {
  box-sizing: border-box;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 80px;
  max-width: 295px;
}

@media only screen and (min-width: 639px) {
  .heroHeadline {
    margin-top: -120px;
    max-width: 600px;
    min-height: 168px;
  }
}

.image {
  max-width: 716px;
  margin-left: auto;
  margin-right: auto;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.heroImageWrapper {
  margin-bottom: 28px;
}
