.hero {
  position: relative;
  text-align: center;
  
}

.heroHeadline {
  height: calc(100vh - 5rem);
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heroHeadline h3 {
  max-width: 500px
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.heroImageWrapper {
  margin-bottom: 250px;
}
