.carousel {
  max-width: 800px;
}

.carouselButton {
  position: absolute;
  top: calc(50% - 18px);
  transition: opacity 300ms ease-in-out;
}

.carouselButton:disabled {
  opacity: .25;
}

.carouselButton img {
  height: 100%;
  width: auto;
}

.carouselLeftButton {
  height: 36px;
  left: 0;
}

.carouselRightButton {
  height: 33px;
  right: 0;
}