.readMoreWrapper {
  padding-bottom: 71px;
}

.readMoreWrapper:before {
  content: '';
  display: block;
  width: 100%;
  height: 4vw;
  background-image: url(/top-gray-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: -3vw;
}

.readMore{
  background-color: rgba(0, 0, 0, 0.04);
}
